.technologies,
.projects,
.cv,
.contact-me {
    margin: 5rem;
    text-align: center;
}

.icon {
    margin: 5rem;
    height: 8rem;
}

.tooltip {
    cursor: pointer;
    font-size: 16px;
    position: relative;
    display: inline-block;
}

.tooltip-text {
    left: 50%;
    z-index: 1;
    opacity: 0;
    bottom: 80%;
    padding: 5px;
    width: 110px;
    color: #fff;
    visibility: hidden;
    text-align: center;
    border-radius: 5px;
    position: absolute;
    margin-left: -60px;
    background-color: #555;
    transition: opacity 0.3s;
}

.tooltip-text::after {
    top: 100%;
    left: 50%;
    content: '';
    margin-left: -5px;
    border-width: 5px;
    position: absolute;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltip-text {
    opacity: 1;
    visibility: visible;
}

.cv-description {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: space-around;
}

.description {
    padding: 4rem;
}

.option-cv {
    color: black;
    margin: 0 10px;
    padding: 10px 40px;
    border-radius: 35px;
    text-decoration: none;
    text-decoration: none;
    display: inline-block;
    border: 2px solid #9e9ec9;
    background-color: transparent;
    transition: background-color 0.3s ease;
}

.option-cv:hover {
    background-image: linear-gradient(to right, #DBCEF2, #DAEBF3);
}

.option-cv:active {
    background-image: linear-gradient(to right, #C5B3EB, #A7D8E9);
}

.portfolio-projects {
    display: flex;
    margin: 3rem 0;
    color: black;
    font-size: large;
    align-items: center;
    text-decoration: none;
    justify-content: center;
}

.portfolio-projects:hover {
    text-decoration: underline;
}

.portfolio-projects span {
    margin: 0 10px;
}

@media (max-width: 500px) {
    .title-tech {
        font-size: large;
    }
}

@media (max-width: 460px) {
    .title-tech {
        font-size: smaller;
    }

    .subtitle-tech {
        font-size: small;
    }

    .technologies {
        margin: 1rem;
    }
}

@media (max-width: 425px) {
    .icon {
        margin: 3rem;
        height: 6rem;
    }
    
    .cv {
        margin: 1rem;
    }
    
}

@media (max-width: 425px) {
    .cv {
        margin: 0;
    }
}